/*全局样式*/
*{
    margin:0;
    padding:0;
}
body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    line-height: 1;
    color: #333;
}
@media screen and (min-width: 320px) {
    html {
        font-size:53.3%!important
    }
}

@media screen and (min-width: 375px) {
    html {
        font-size:62.5%!important
    }
}

@media screen and (min-width: 414px) {
    html {
        font-size:69%!important
    }
}

@media screen and (min-width: 768px) {
    html {
        font-size:106%!important
    }
}
.font-min{
	font-size: 1.2rem;
}
.font-max{
	font-size: 1.4rem;
}
.font-red{
	color:rgb(243,62,62);
}
.font-grey{
	color:#999999;
}

/*页眉导航部分*/
.nav{
    height:5.0rem;
    width:100%;
    position: fixed;
    top:0;
    left:0;
    background-color: rgb(243,62,62);
    z-index:99999;
}
.nav-logo{
	background-image: url(../img/logo.jpg) ;
	background-size:100% 100%; 
	width:14%;
	margin:1.4rem 0 0 1.2rem;
	float:left;
}
.nav-logo a{
	display:block;
	text-indent: -999.9rem;
	overflow: hidden;
	height:2.2rem;
	/*width:5.6rem;*/
}
.nav-search{
	width:64%;
	height: 3.0rem;
	position: absolute;
	left: 50%;
	top:0;
	bottom: 0;
	right: 0;
	margin-top:1rem;
	margin-left: -30%;
	color: rgb(146,146,146);
}
.nav-search input{
	width:87%;
	line-height: 3.0rem;
	border-radius:1.8rem;
	border:none;
	padding-left:13%;

}
.nav-search input:focus{
	outline: none;
}
.nav-search i{
	position: absolute;
	top:0.9rem;
	left: 1.2rem;
}
.nav-menu{
	height: 2.2rem;
	width: 2.7rem;
	background-image: url(../img/menu.jpg) ;
	background-size:2.7rem 2.2rem; 
	margin:1.4rem 1.8rem 0 0;
	float:right;
	cursor: pointer;
}

/*主体样式*/

.header{
	height: 3.6rem;
	width: 100%;
	margin:5.0rem 0 1.0rem 0;
	background-color: rgb(249,249,249);
	border-bottom: 1px solid #E8E8E8 ;
}
.header div{
	margin-left: 1.5rem;
	
	
	
	float: left;
} 
.header a{
	display: block;
	height: 3.4rem;
	line-height: 3.4rem;
	text-decoration: none;
	border-bottom: .2rem solid rgb(243,62,62);
	color: rgb(243,62,62);
	font-size: 1.7rem;

}

.refresh{
	height:2.8rem;
	width:22.5rem;
	margin: 0 auto;
	font-size: 1.2rem;
	background-color: rgb(243,62,62);
	color:white;
	line-height: 2.8rem;
	text-align: center;
	border-radius:1.8rem;
	cursor:pointer;

}

/*商品一览*/

.wrapper-com{
	margin:0 1.5rem;
}
.wrapper-com>div{
	/*margin-bottom: .8rem;*/
	padding-bottom: .8rem;
	position: relative;
	border-bottom: .1rem solid rgb(240,240,240);
}
.wrapper-com>div:after{
	content:"";
	display: table;
	visibility: hidden;
	clear:both;

}
.wrapper-com .com-img{
	margin-top: 2.2rem;
	float: left;
}
.wrapper-com .com-img a{
	background-image: url(../img/bean.jpg);
	background-size: 10.0rem 10.0rem;
	display: block;
	height: 10.0rem;
	width:10.0rem;
}
.com-status{
	height: 3.0rem;
	width: 50%;
	font-size: 1.2rem;
	padding-left:0.5rem;
	line-height: 3.0rem;
	float:left;
	color:rgb(146,146,146); 
}

.com-status-time{
	
	float:right;
}

.com-name{
	height: 3.7rem;
	font-size: 1.4rem;
	/*width:60%;*/
	margin:0 0 0 0.5rem;
	float: left;
}

.com-name a{
	text-decoration: none;
		color:#333333;
		line-height: 2.0rem;

}

.com-price{
	padding: 1.5rem 0 0 0.5rem;
	/*width:50%;*/
	height: 4.2rem;
	float: left;
}
.com-minprice{
	margin-top: 1.0rem;
}
.com-curve{
	height: 1.8rem;
	width:7.1rem;
	position: absolute;
	bottom: 1.0rem;
	right: 0;
	line-height: 1.8rem;
	text-align: center;
	background-color:rgb(240,240,240);
	border-radius:.4rem;
	padding: 0.2rem;
}