html body{
	background-color:white;
}
.title-name{
	height: 36px;
	margin:0 0 10px 0;
	background-color: rgb(249,249,249);
	border-bottom: 1px solid #E8E8E8 ;
}
.title-name span{
	display: block;
	height: 34px;
	line-height: 34px;
	text-decoration: none;
	border-bottom: 2px solid rgb(243,62,62);
	color: rgb(243,62,62);
	font-size: 17px;
	margin-left: 15px;
	float: left;

}
.refresh{

	height:28px;
	text-align: center;
}
.refresh .link{
	display: inline-block;
	background-color: rgb(243,62,62);
	color:white;
	line-height: 28px;	
	border-radius:18px;
	cursor:pointer;
	font-size: 13px;
	padding:0 19px;
}

/*商品一览*/
.article-list{
	list-style: none;
	margin:0 15px;
}
.article-list .item{
	padding-bottom: 5px;
	border-bottom: 1px solid rgb(240,240,240);
}
.article-list .link{
	display: block;
}
.article-list .link:after{
	content:"";
	display: table;
	visibility: hidden;
	clear:both;
}
.article-list .item .pic{
		width:100px;
		height:100px;
		margin-top: 22px;
		float:left;
		overflow: hidden;
}
.article-list .item .pic .wrapper{
	width:100px;
	height:100px;
	display: table-cell;
	vertical-align: middle;
	text-align: center;
}

.article-list .item .list{
	margin-left: 110px;
}

.article-list .item .list .status{

	height: 30px;
	font-size: 12px;
	line-height: 30px;
	font-size: 13px;
	color:rgb(146,146,146);
}

.article-list .item .list .status .partner{
	float:left;
}

.article-list .item .list .status .time{
	float: right;
}

.article-list .item .list .name{
	max-height:40px;
	overflow:hidden;
	font-size: 14px;
	color:black;

}
.article-list .item .list .desc{
	padding: 12px 0 0 0;
	font-size: 13px;
	color:rgb(243,62,62);
}

.article-list .item .list .price{
	line-height: 20px;
	margin-top:8px;
	font-size: 13px;
	color:rgb(146,146,146);
}

.article-list .item .btn{
	display:inline-block;
	background-color:rgb(240,240,240);
	color:rgb(146,146,146);
	font-size: 13px;
	text-align: center;
	border-radius: 4px;
	float:right;
	padding: 0 10px;
}
/*复制过来的*/
.pricetrend{
	font-size: 12px;
	font-style:normal;
	font-family:'Microsoft YaHei';
	background:#fff;
	color:#333;
	line-height:normal;
}
.pricetrend a{ 
	color:#333; 
	text-decoration:none;
	display:inline-block;
}
.pricetrend .chrome-price{
	min-width:290px;
}
.title-bar{ 
	height:26px;
	line-height:26px;
	font-size:14px;
	font-weight:bold;
	padding-left:10px;
}
.title-bar span{ 
	display:block;
	width:180px;
}
.content-pane{
	position:relative; 
	height:145px;
}
.chart{
	background-color:#fff;
	width: 84%;
	position: relative;
	height: 145px;
	float: left;
	z-index:9;}
.rightWord{
	width: auto;
	margin-left: 84%;
	height: 145px;
	white-space: nowrap;
	line-height:normal;
	text-align: center;
}
.rightWord .high{
	margin-top:10px;
}
.rightWord .low{ 
	margin-top:40px;
}

/*回到顶部按钮*/

.backTop{

	position: fixed;
	height: 28px;
	width: 40px;
	bottom: 45px;
	right: 45px;
	border-radius: 5px;
	padding-top:12px;
	text-align: center;
	border: 1px solid rgb(240,240,240);

}

/*隐藏trend*/

.hidden{

	visibility: hidden;
	position: fixed;
	left: -1000px;
}